@using System.Collections.Generic;
@using System.Web.Mvc;

@model TeamWayPath.Feature.SuperScripts.Models.DisplayScriptViewModel
<link rel="stylesheet" href="/sitecore/shell/client/Applications/LaunchPad/LaunchPad.css" type="text/css" />


<div>
    @foreach (var item in Model.ScriptItems)
    {
        <div>
            <a class="scriptlink sc-launchpad-item" data-id="@item.Guid" href="@item.Url">
                <span class="icon">
                    <img src="@item.Icon" width="48" height="48" alt="@item.Title">
                </span>
                <span class="sc-launchpad-text">
                    @item.Title
                </span>
            </a>
        </div>
    }
</div>

